
/* ================================ */
/* ==========CSS Variables========== */
:root {
    --primary-color: tomato;
    --background: #e3e8ea;
    --navigator-bg: #353535;
    --shadow-color: rgba(0,0,0,0.16);
}
/* ================================ */
/* ================================ */







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Sans-Serif, Arial;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--background);
}

main.main {
    position: relative;
    height: calc(100% - 72px);
    width: 100%;
    padding: 0 16px;
}


nav.navigator {
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 12px;
    height: 72px;
    width: 100vw;
    padding: 0 32px;
    border-radius: 12px 12px 0 0;
    background: var(--navigator-bg);
}

.navigator .navigation {
    position: relative;
    top: 0;
    height: calc(100% - 8px);
    width: 80px;
    align-content: center;
    border: none;
    border-radius: 6px;
    background: none;
    transition: all .2s linear;
}
.navigator .navigation.active-navigation-btn {
    position: relative;
    top: -3px;
    transition: all .2s linear;
    border: 2px solid #e0e0e0;
    transition: border 0.2s linear;
}

.navigation .icon {
    position: relative;
    top: 2px;
    height: 24px;
    width: 24px;
    border-radius: 2px;
    background: none;
}

.navigation .title {
    position: relative;
    top: 4px;
    display: block;
    font-size: 12px;
    color: #e5e5e5;
}









/* ================================ */
/* ==========Home Page========== */

.close-pomodoro-btn,
.pause-pomodoro-btn,
.start-pomodoro-btn {
    position: absolute;
    /* bottom: 80px; */
    bottom: 100px;
    left: 50%;
    translate: -50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 140px;
    padding: 0 4px;
    border: none;
    border-radius: 12px;
    background: var(--primary-color);
    color: #ededed;
    font-size: 1.5rem;
    /* box-shadow: 0 0 10px 1px rgba(0,0,0,0.016); */
    box-shadow: -2px 2px 4px 2px rgba(0,0,0,0.16);
    transition: all 0.1s linear;
}
.start-pomodoro-btn:active {
    transform: skew(-15deg);
}

.pause-pomodoro-btn,
.close-pomodoro-btn {
    height: 56px;
    width: 90px;
    background: var(--navigator-bg);
    opacity: 0.4;
}
.pause-pomodoro-btn {
    left: 70%;
}
.close-pomodoro-btn {
    left: 30%;
    opacity: 0.3;
}

.timer-container {
    position: absolute;
    /* top: 15%; */
    top: 18%;
    left: 50%;
    translate: -50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 240px; */
    /* width: 240px; */
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: #fff;
    /* color: #333; */
    color: #222;
}

.timer-svg {
    height: 100%;
    width: 100%;
    transform: rotate(-90deg);
}

.timer-circle-track,
.timer-circle-progress {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
}

.timer-circle-track {
    stroke: #e0e0e0;
}

.timer-circle-progress {
    stroke: var(--primary-color);
    stroke-dasharray: 1;
    stroke-dashoffset: 0; /*change this dynamically with JavaScript (1:none, 0:full)*/
    transition: stroke-dashoffset 1s linear;
}

.timer-text {
    position: absolute;
    /* font-size: 48px; */
    font-size: 56px;
    font-weight: 700;
    font-family: Arial;
}

/* ================================ */
/* ================================ */








/* ================================ */
/* ==========Settings Page========== */


/* ================================ */
/* ================================ */









/* ================================ */
/* ==========Profile Page========== */


/* ================================ */
/* ================================ */







/* ================================ */
/* ==========General Classes========== */
.hidden {
    display: none;
}

/* ================================ */
/* ================================ */

